/* 公共的样式 */
@font-face {
  font-family: 'myFont';
  src: url(../fonts/PingFang\ Regular.ttf);
}

/* wrapper-中间包裹的区域 */
.top_wrapper {
  width: 980px;
  margin: 0 auto;
}
/*
.header_wrapper {
  width: 1300px;
  margin: 0 auto;
}

.main_wrapper {
  width: 1200px;
  margin: 0 auto;
} */
