.top {
  background-color: #fff;
}

.top .area {
  display: flex;
  justify-content: space-between;
  height: 41px;
  line-height: 41px;
}

.top .area .left-area {
  display: flex;
}

.top .area .left-area .logo a {
  display: block;
  width: 150px;
  height: 100%;
  /* 用于隐藏文字 */
  text-indent: -999px;
  background: url(../images/tencent_games_logo.png) no-repeat center center;
}

.top .area .right-area ul {
  display: flex;
  background-color: #0f0;
}

.top .area .right-area ul .item a {
  display: block;
}
