$white:#fff;
$grey: #999;

.default-page{
	position: relative;
	text-align: center;
	background-color: $white;
	height: 100vh;
	img{
		width: 130px;
		height: 130px;
		margin-top: 140px;
	}

	p{
		margin-top: 12px;
		font-size: 15px;
		color: $grey;
	}
}