* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 42px;
    /* 此处会层叠 w 里面的 margin */
    margin: 30px auto;
}

.logo {
    float: left;
    width: 195px;
    height: 42px;
}

.nav {
    float: left;
    margin-left: 70px;
}

.nav ul li {
    float: left;
    margin: 0 13.5px;
}

.nav ul li a {
    display: block;
    height: 42px;
    padding: 0 9px;
    line-height: 42px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

.search {
    float: left;
    width: 411px;
    height: 42px;
    margin-left: 72.5px;
}

.search input {
    float: left;
    width: 341px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    font-size: 14px;
    color: #bfbfbf;
    padding-left: 19px;
}

.search button {
    float: left;
    width: 50px;
    height: 42px;
    /* 按钮 button 默认有个边框需要手动去除 */
    border: 0;
    background: url(images/search.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 35px;
    font-size: 14px;
    color: #7e7e7f;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url(images/banner.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background: rgb(0, 0, 0, .3);
}

.subnav ul {
    padding: 12px 0;
}

.subnav ul li {
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
}

.subnav ul li a {
    font-size: 14px;
    color: #ffffff;
}

.subnav ul li span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 228px;
    height: 300px;
    background-color: #ffffff;
    /* 浮动的盒子不会有外边距合并的问题 */
    margin-top: 51px;
}

.course h2 {
    height: 48px;
    line-height: 48px;
    background-color: #9bceea;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.bd {
    padding: 0 18px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #acacac;
}

.bd ul li h4 {
    display: inline;
    font-size: 16px;
    color: #acacac;
}

.bd ul li h3 {
    display: inline;
    font-size: 14px;
    color: #acacac;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .all {
    display: block;
    height: 38px;
    border: 1px solid #22b0ff;
    text-align: center;
    line-height: 38px;
    font-size: 16px;
    color: #22b0ff;
    margin-top: 5px;
    font-weight: 700;
}