body,
p,
h3 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  text-align: center;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

h3 {
  font-weight: normal;
}
