/* reset.css 样式重置文件 */
body,
h1,
h2,
h3,
ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

i,
em {
  font-style: normal;
}
