<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 获取 value -->
    <ul>
      <li v-for="item in info">{{item}}</li>
    </ul>
    <!-- 获取 key 和 value，value 在前，key 在后 -->
    <ul>
      <li v-for="(value, key) in info">{{value}}*****{{key}}</li>
    </ul>
    <!-- 获取 key、value 和 index -->
    <ul>
      <li v-for="(value, key, index) in info">{{value}}*****{{key}}*****{{index}}</li>
    </ul>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        info: {
          name: 'ZDH',
          age: 20
        }
      }
    })
  </script>
</body>
</html>