.card-enter, .card-appear {
  opacity: 0;
  transform: scale(0.6);
}

.card-enter-active, .card-appear-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.card-exit {
  opacity: 1;
  transform: scale(1);
}

.card-exit-active {
  opacity: 0;
  transform: scale(0.6);
  transition: all 300ms;
}

.card-exit-done {
  opacity: 0;
  transform: scale(0.6);
}
