<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <!-- 不在遍历过程中使用下标值 -->
    <ul>
      <li v-for="item in names">{{item}}</li>
    </ul>
    <!-- 在遍历过程中获取下标值 -->
    <ul>
      <li v-for="(item, index) in names">{{index + 1}}*****{{item}}</li>
    </ul>
  </div>
  <script src="../js/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        names: ['ZDH', 'zdh', 'tiny', 'ripple']
      }
    })
  </script>
</body>
</html>
<!-- 通过索引值修改数组元素并不会响应式渲染到页面上 -->